<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proiect_chs_sma">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proiect_CHS_SMA">
        <activity
            android:name=".Show_photos_puls"
            android:exported="false" />
        <activity
            android:name=".UploadPhotos_activity"
            android:exported="false" />
        <activity
            android:name=".Register_activity_doctor"
            android:exported="false" />
        <activity
            android:name=".Register_activity_home"
            android:exported="false" />
        <activity
            android:name=".Sugestii_activity"
            android:exported="false" />
        <activity
            android:name=".FeedbackPacient_activity"
            android:exported="false" />
        <activity
            android:name=".ListaPacienti_activity"
            android:exported="false" />
        <activity
            android:name=".FormularPacient_activity"
            android:exported="false" />
        <activity
            android:name=".Pacient_activity"
            android:exported="false" />
        <activity
            android:name=".Doctor_activity"
            android:exported="false" />
        <activity
            android:name=".LogIn_activity"
            android:exported="false" />
        <activity
            android:name=".Register_activity_pacient"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>